<section class="people-container">
  <div class="spinner-container"  *ngIf="!(allPeople$ | async)">
    <mat-spinner diameter="50" strokeWidth="6"></mat-spinner>
  </div>
  <mat-paginator #paginator
    [length]="peopleCount$ | async" [pageIndex]="pageIndex" [pageSize]="10" >
  </mat-paginator>
  <mat-accordion displayMode="flat" multi class="mat-table">
    <section matSort class="mat-elevation-z2 mat-header-row">
      <span class="mat-header-cell">Name</span>
      <span class="mat-header-cell">Birth Year</span>
      <span class="mat-header-cell">Eye Color</span>
      <span class="mat-header-cell">Gender</span>
      <span class="mat-header-cell mat-cell-show">Hair Color</span>
      <span class="mat-header-cell mat-cell-show">Height</span>
      <span class="mat-header-cell mat-cell-show">Mass</span>
      <span class="mat-header-cell mat-cell-show">Skin Color</span>
    </section>

    <mat-expansion-panel *ngFor="let item of this.allPeople$ | async; let i = index"
      [expanded]="step === i" (opened)="setStep(i)">
      <mat-expansion-panel-header class="mat-row">
        <span class="mat-cell">{{item.name}}</span>
        <span class="mat-cell">{{item.birth_year}}</span>
        <span class="mat-cell">{{item.eye_color | capitalizefirst}}</span>
        <span class="mat-cell">{{item.gender | capitalizefirst}}</span>
        <span class="mat-cell mat-cell-show">{{item.hair_color | capitalizefirst}}</span>
        <span class="mat-cell mat-cell-show">{{item.height}}</span>
        <span class="mat-cell mat-cell-show">{{item.mass}}</span>
        <span class="mat-cell mat-cell-show">{{item.skin_color | capitalizefirst}}</span>
      </mat-expansion-panel-header>
      <div class="detail">
        <!-- pre>{{item | json}}</pre -->
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{item.name}}</mat-card-title>
            <mat-card-subtitle>{{item.gender | capitalizefirst}} | {{item.birth_year}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxFlexFill fxLayoutAlign="start stretch"
              class="flex-row">
              <div fxFlex><span class="text-label">Height: </span>{{item.height}}</div>
              <div fxflex><span class="text-label">Mass: </span>{{item.mass}}</div>
              <div fxFlex><span class="text-label">Eye Color: </span>{{item.eye_color | capitalizefirst}}</div>
              <div fxFlex><span class="text-label">Skin Color: </span>{{item.skin_color | capitalizefirst}}</div>
              <div fxFlex><span class="text-label">Hair Color: </span>{{item.hair_color | capitalizefirst}}</div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" class="flex-row">
              <div fxFlex><span class="text-label">Home World: </span>
                <a mat-button (click)="onPlanetClick(item.homeworld)">{{item.homeworld}}</a>
              </div>
              <div fxFlex class="no-link"><span class="text-label">URL: </span>{{item.url}}</div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" class="flex-row">
              <div fxFlex>
                <span class="text-label">Films:</span><br>
                <div *ngFor="let element of item.films">
                  <a mat-button [routerLink]="['/film']" [queryParams]="{url: element}">{{element}}</a>
                </div>
              </div>
              <div fxFlex>
                <span class="text-label">Species:</span><br>
                <a mat-button *ngFor="let element of item.species" (click)="onSpeciesClick(element)">{{element}}</a>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" class="flex-row">
              <div fxFlex>
                <span class="text-label">Vehicles:</span><br>
                <div *ngFor="let element of item.vehicles">
                  <a mat-button [routerLink]="['/vehicle']" [queryParams]="{url: element}">{{element}}</a>
                </div>
              </div>
              <div fxFlex>
                <span class="text-label">Starships:</span><br>
                <div *ngFor="let element of item.starships">
                  <a mat-button [routerLink]="['/starship']" [queryParams]="{url: element}">{{element}}</a>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" class="flex-row  date-container">
              <div fxFlex><span class="text-label">Created: </span>{{item.created | date: 'yyyy-MM-dd HH:mm:ss zzzz'}}</div>
              <div fxFlex><span class="text-label">Edited: </span>{{item.edited | date: 'yyyy-MM-dd HH:mm:ss zzzz'}}</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>
